@import "common";
@import "../utils/mixins";

.similar-ticket-container {
    .similar-ticket-wrapper {
        padding: 0 20px;

        .sorry-msg {
            font-family: $font-family-primary;
            font-size: $font-size-22;
            margin-bottom: 10px;
        }

        .ticket-msg {
            color: $deliver-gray;
            margin-bottom: 30px;
        }

        .msg-separator {
            margin-bottom: 15px;
            padding-top: 5px;

            @media only screen and (min-width: $tablet-size) {
                padding-top: 25px;
            }

            hr {
                border: 1px solid $border-color;
            }
        }

        .header-msg {
            color: $light-gray;
            font-size: $font-size-20;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .dash-separator {
            clear: both;
            margin: 25px 0;
        }

        .similar-vfs {
            @media only screen and (min-width: $tablet-size) {
                float: right;
                margin-bottom: 20px;
                width: 45%;
            }

            img {
                width: 100%;
            }

            &.similar-no-vfs {
                background: url('#{$img_path}/no-vfs-concert1x.jpg') no-repeat 0 0;
                background-size: cover;
                height: 205px;
                position: relative;
            }
        }

        .similar-listing-info {
            margin-bottom: 20px;
            margin-top: 17px;

            @media only screen and (min-width: $tablet-size) {
                float: left;
                margin-top: 0;
                position: relative;
                width: 52%;
            }
        }

        .similar-button {
            clear: both;
            margin: 0 auto;
            max-width: 292px;
            width: 100%;

            @media only screen and (min-width: $tablet-size) {
                width: 55%;
            }

            button {
                background-color: $color-ui-secondary;
                color: $white;
            }
        }
    }

    .similar-find-ticket {
        border-top: 2px solid $border-color;
        @include box-sizing(border-box);
        cursor: pointer;
        margin-top: 25px;
        padding: 15px 20px;
        width: 100%;

        .find-ticket-msg {
            color: $link-color;
            font-size: $font-size-14;
        }

        .find-ticket-arrow {
            float: right;
        }
    }

    .find-ticket-container {
        @include box-sizing(border-box);
        padding: 0 20px 20px;
        width: 100%;

        .sorry-msg {
            font-family: $font-family-primary;
            font-size: $font-size-22;
            margin-bottom: 10px;
        }

        .find-ticket-msg {
            color: $deliver-gray;
            margin-bottom: 45px;

            @media only screen and (min-width: $tablet-size) {
                margin-bottom: 65px;
            }
        }

        .find-ticket-button {
            clear: both;
            margin: 15px auto 0;
            max-width: 292px;
            width: 100%;

            @media only screen and (min-width: $tablet-size) {
                width: 55%;
            }

            button {
                background-color: $color-ui-secondary;
                color: $white;
            }
        }
    }
}
